<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 
	   <property name="connection.url">jdbc:mysql://localhost:3306/mb_db_dolu</property>
	   <property name="connection.username">root</property>
	   <property name="connection.password">baymet</property>
	   <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	   <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	 
	   <property name="show_sql">false</property>
	 
	   <property name="format_sql">true</property>
	   <property name="hbm2ddl.auto">create</property>
	 
	   <!-- JDBC connection pool (use the built-in) -->
	   <property name="connection.pool_size">1</property>
	   <property name="current_session_context_class">thread</property>
	
	    <mapping class="com.baymet.dolu.domain.Employee" />
	    <mapping class="com.baymet.dolu.domain.Department" />
	    <mapping class="com.baymet.dolu.domain.Course" />
	    <mapping class="com.baymet.dolu.domain.Subject" />
	    
	    <!-- Mapping files -->
	    <mapping resource="hbm/Employee.hbm.xml"/>
	    <mapping resource="hbm/Department.hbm.xml"/>
	    <mapping resource="hbm/Course.hbm.xml"/>
	    <mapping resource="hbm/Subject.hbm.xml"/>
	    <mapping resource="hbm/Student.hbm.xml"/>
	    <mapping resource="hbm/Address.hbm.xml"/>
	    <mapping resource="hbm/User.hbm.xml"/>
	    
		<!-- <mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping> -->
	</session-factory>
</hibernate-configuration>