<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="datasource-config.xml" />
	<import resource="webflow-config.xml" />
	<import resource="security-config.xml" />


	<!-- DAO declarations -->
	<bean id="userDao" class="com.yunus.org.dao.UserJpaDao" />
	<bean id="studentDao" class="com.yunus.org.dao.StudentJpaDao" />
	<bean id="teacherDao" class="com.yunus.org.dao.TeacherJpaDao"/>


	<!-- Services declarations -->
	<bean id="userService" class="com.yunus.org.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="studentService" class="com.yunus.org.services.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao" />
	</bean>
	<bean id="teacherService" class="com.yunus.org.services.impl.TeacherServiceImpl">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>


	<bean id="userAuthenticationProviderService"
		class="com.yunus.org.services.impl.UserAuthenticationProviderServiceImpl">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
</beans>