body {
	font-size: 12px;
}

#container {
	width: 96%;
	margin: 0 auto;
	padding: 20px;
}

#header {
	margin: 5px;
	padding: 10px;
}

#content {
	margin: 5px;
	padding: 10px;
}

#footer {
}

.ui-growl-item {
        font-family: Arial,sans-serif;
        font-size: 12px;
}

.old {
	background-color: #fca752 !important;
	background-image: none !important;
	color: #000000 !important;
}