body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 6px 4px;
}

#container {
	width: 96%;
	margin: 0 auto;
	padding: 4px;
}

#header {
	margin: 5px;
	padding: 10px;
	border: 1px dashed grey;
}

#content {
	margin: 5px;
	padding: 10px;
	border: 1px dashed green;
}

#footer {
	margin: 5px;
	padding: 10px;
	border: 1px dashed blue;
}