body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 6px 4px;
}

#container {
	width: 96%;
	margin: 0 auto;
}

#header {
	margin: 5px;
	border: 1px dashed grey;
}

#content {
	margin: 5px;
}

#footer {
	margin-top: 40px;
	border-top: 1px solid black;
}

.menu {
	padding: 0 .9em;
	border-right: 1px solid #000;
	text-decoration: underline;
}

#footer address {
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}